/* @media (max-width: 575.98px) {
  /* .container {
    max-width: 540px;
  } 
  .header {
    padding-left: 500px;
  }
}

@media (max-width: 767.98px) {
  .header {
    padding-left: 500px;
  }
} */

/* .header {
  background-color: #f1f1f1;
}
@media (max-width: 991.98px) {
  .header {
    padding-left: 500px;
  }
}


*/

.icon {
  width: 70px;
  height: 70px;
}
/* .cas {
  display: flex;
  width: 1440px;
  height: 117px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
} */
body {
  margin: 0;
}
.stage {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #f5ecf5 0%, #97d9e1 100%);
}
.cart {
  display: flex;
  height: 328px;
  padding: 0px 48px 0px 334px;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
}

.feature {
  padding-left: 160px;
  font-size: 30px;
  font-weight: 300;
}
.feature2 {
  padding: 30px 160px;
}
.img {
  width: 421px;
  height: 342px;
  flex-shrink: 0;
}
.img2 {
  width: 421px;
  height: 342px;
  padding-right: 50px;
  flex-shrink: 0;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .feature {
    padding-left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .feature2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .img {
    width: 500px;
    height: 400px;
  }
  .img2 {
    width: 500px;
    height: 400px;

    padding-right: 0px;
  }
}
